{
    "extends": [
        "plugin:import/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "import/order": [
            1,
            {
                "groups": [
                    "external",
                    "builtin",
                    "index",
                    "sibling",
                    "parent",
                    "internal",
                    "type"
                ],
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                },
                "newlines-between": "always-and-inside-groups"
            }
        ],
        "import/no-unresolved": [1, { "caseSensitive": false }]
    },
    "plugins": ["@typescript-eslint"],
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".tsx", ".ts", "js", "jsx", "riv"]
        },
        "import/resolver": {
            "typescript": {}
        }
    }
}
